In [1]:
import pandas as pd
import joblib
from sklearn.linear_model import LinearRegression
df=pd.read_csv('../Data/bmi_and_life_expectancy.csv')

In [2]:
import numpy as np
country=df.Country.tolist()
new=pd.DataFrame(0,columns=country,index=np.arange(0,len(country)))
new

,Afghanistan,Albania,Algeria,Andorra,Angola,Armenia,Australia,Austria,Azerbaijan,Bahamas,...,United Arab Emirates,United Kingdom,United States,Uruguay,Uzbekistan,Vanuatu,West Bank and Gaza,Vietnam,Zambia,Zimbabwe
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
159,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
160,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
161,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
162,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
np.fill_diagonal(new.values,1)
new['Life']=df['Life expectancy']
new['BMI']=df['BMI']

In [4]:
new

,Afghanistan,Albania,Algeria,Andorra,Angola,Armenia,Australia,Austria,Azerbaijan,Bahamas,...,United States,Uruguay,Uzbekistan,Vanuatu,West Bank and Gaza,Vietnam,Zambia,Zimbabwe,Life,BMI
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,52.8,20.62058
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,76.8,26.44657
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,75.5,24.59620
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,84.6,27.63048
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,56.7,22.25083
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,63.4,26.78926
159,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,74.1,26.57750
160,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,74.1,20.91630
161,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,51.1,20.68321
162,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,47.3,22.02660

In [5]:
conn=sqlite3.connect('new.db')
new.to_sql('dataset',conn,if_exists='replace',index=False)

Index(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Armenia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas',
       ...
       'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay',
       'Uzbekistan', 'Vanuatu', 'West Bank and Gaza', 'Vietnam', 'Zambia',
       'Zimbabwe'],
      dtype='object', length=163)